<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329850816884-b8mibsuu8r52ueai3fh8jrvq55is5iu1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329850816884-b8mibsuu8r52ueai3fh8jrvq55is5iu1</string>
	<key>API_KEY</key>
	<string>AIzaSyA5z_fdJd1tK-SXx4k6dJu9UCO9qjANhvk</string>
	<key>GCM_SENDER_ID</key>
	<string>329850816884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.u6amtech.flutterGrocery</string>
	<key>PROJECT_ID</key>
	<string>localroots-c9e7c</string>
	<key>STORAGE_BUCKET</key>
	<string>localroots-c9e7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329850816884:ios:eab7a0b6ce2439394b0421</string>
</dict>
</plist>